* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullPage {
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.child {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  color: #fff;
}

.bg1 {
  background-color: #fff;
}

.bg2 {
  background-color: #0ff;
}

.bg3 {
  background-color: #f0f;
}
